<div class="row" ng-init="GetLeadByIDs()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Leads</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/leads">Leads</a></li>
	<li> Multiple Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon">
        <a class="" href="#/leads">
            <span class="fa fa-list"></span>
            List
        </a> 
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/lead/new">
            <span class="fa fa-plus"></span>
            Add new
        </a>
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/lead/export"> 
            <span class="fa fa-share-square-o"></span> 
            Export 
        </a> 
    </li>
</ul>


<div>
    <h3>The following objects will be deleted, which may delete or orphan some of their related dependencies:</h3>
<ul ng-repeat="lead in leads">
    <li style="display:block; margin-top:10px">
        <span class="label label-default">Lead</span>
        <a class="pjax" href="#/lead/show/{{lead.id}}">Lead#{{lead.id}}</a>
        <ul>
        </ul>
    </li>
</ul>
<button class="btn btn-danger" ng-click="DeleteLeadByIds()"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>