<div class="row" ng-init="GetLead()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Lead 'Lead{{lead.id}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/leads">Leads</a></li>
	<li> <a href="#/lead/edit/{{lead.id}}">Lead#{{lead.id}}</a></li>
	<li>Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="icon" > <a class="" href="#/lead/show/{{lead.id}}"> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/lead/edit/{{lead.id}}"> <span class="fa fa-pencil"></span> Edit</a></li>
    <li title="" rel="" class="active icon"> <a class="" href="#/lead/export">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<h4>Are you sure you want to delete this lead "Lead#{{lead.id}}" ? </h4>
<div>
<button class="btn btn-danger" ng-click="deleteLead(lead.id)"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>