<div class="row" ng-init="GetLead()">
    <div class="col-lg-12">
        <h1 class="page-header">Details For Lead 'Lead#{{lead.id}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="active">Dashboard</li>
	<li class="">Leads</li>
	<li >Lead#{{lead.id}}</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon"> <a class="" href=""> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/lead/edit/{{lead.id}}"> <span class="fa fa-pencil"></span>  Edit</a></li>
    <li title="" rel="" class="icon"> <a class="" href="#/lead/delete/{{lead.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<div class="fieldset">
	<h4>Basic Info</h4>
	<dl>
		<dt><span class="label label-info">Submitted at</span></dt>
		<dd class="well" ng-bind="lead.created_at"></dd>

		<dt><span class="label label-info">Interested In</span></dt>
		<dd class="well" ng-bind="lead.interested_in"></dd>

		<dt><span class="label label-info">Email</span></dt>
		<dd class="well" ng-bind="lead.email"></dd>
	</dl>
</div>