<div class="row" ng-init="GetVersion()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Version 'PaperTrail::Version #{{version.id}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/paper_trail~version">Versions</a></li>
	<li> <a href="#/paper_trail~version/edit/{{version.id}}">{{version.id}}</a></li>
	<li>Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="icon" > <a class="" href="#/paper_trail~version/show/{{version.id}}"> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/paper_trail~version/edit/{{version.id}}"> <span class="fa fa-pencil"></span> Edit</a></li>
    <li title="" rel="" class="active icon"> <a class="" href="#/paper_trail~version/export">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<h4>Are you sure you want to delete this version "PaperTrail::Version #{{version.id}}" ? </h4>
<div>
<button class="btn btn-danger" ng-click="deleteSuperAdmin(version.id)"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>