<div class="row" ng-init="GetVersionByIDs()">
    <div class="col-lg-12">
        <h1 class="page-header">Following Versions will be deleted:</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/paper_trail~version">Versions</a></li>
	<li> Multiple Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon">
        <a class="" href="#/paper_trail~version">
            <span class="fa fa-list"></span>
            List
        </a> 
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/paper_trail~version/new">
            <span class="fa fa-plus"></span>
            Add new
        </a>
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/paper_trail~version/export"> 
            <span class="fa fa-share-square-o"></span> 
            Export 
        </a> 
    </li>
</ul>


<div>
<ul ng-repeat="version in versions">
    <li style="display:block; margin-top:10px">
        <span class="label label-default">Versions</span>
        <a class="pjax" href="#/paper_trail~version/show/{{version.id}}">PaperTrail::Version #{{version.id}}</a>
        <ul>
        </ul>
    </li>
</ul>
<button class="btn btn-danger" ng-click="DeleteVersionByIds()"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>