<div class="row" ng-init="GetVersion()">
    <div class="col-lg-12">
        <h1 class="page-header">Version Details</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="active">Dashboard</li>
	<li class="">Version</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon"> <a class="" href=""> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/paper_trail~version/edit/{{version.id}}"> <span class="fa fa-pencil"></span>  Edit</a></li>
    <li title="" rel="" class="icon"> <a class="" href="#/paper_trail~version/delete/{{version.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<div class="fieldset">
	<h4>Basic Info</h4>
	<dl>
		<dt><span class="label label-info">Item</span></dt>
		<dd class="well" ng-bind="version.item_type"></dd>
		<dt><span class="label label-info">Event</span></dt>
		<dd class="well" ng-bind="version.event"></dd>
		<dt><span class="label label-info">Whodunnit</span></dt>
		<dd class="well" ng-bind="version.whodunnit"></dd>
		<dt><span class="label label-info">Object</span></dt>
		<dd class="well" ng-bind="version.object"></dd>
		<dt><span class="label label-info">Object changes</span></dt>
		<dd class="well" ng-bind="version.object_changes"></dd>
		<dt><span class="label label-info">Transaction</span></dt>
		<dd class="well" ng-bind="version.transaction_id"></dd>
	</dl>
</div>