
<section class="banner we_are_banner">
	<div class="container text-center">
    	<h2>WE ARE PHOCUS</h2>
    </div>
</section>
<!--============================================== banner end===-->

<section id="photographs">
	<div class="container">
    	<div class="text-center">
    		<h2 class="margin-bottom-25">Quality images dramatically improve website response rates</h2>
        </div>
        
        <div class="row">
        	<div class="col-md-6 col-sm-6 margin-bottom-30 left_to_center">
            	Phocus.io is the source for predefined professional photo and video packages that will easily provide you with quality images. The selection of packages enables photo shoots to get done easily and quickly, as well as to set clear expectations on deliverables and cost. An easy, predictable and successful process for all of our partners, business clients and photographer providers.
            </div>
            <div class="col-md-6 col-sm-6 margin-bottom-30 left_to_center">
            	In today's visual world, businesses get more attention with professional, high-impact images. Phocus.io delivers results easily, efficiently and nationwide. Our network of experienced professional photographers will draw attention to your website and highlight your passion and commitment to quality.

                Phocus.io is the one-stop source for predefined professional photo and video packages.
            </div>
        </div>
        
    </div>
</section>
<!--============================================== content 1===-->


<section id="aboutus" class="">
	<div class="table_cell">
	    <div class="container">	
            <h3 class="margin-bottom-20 margin-top-30">FOUNDED BY PROFESSIONAL PHOTOGRAPHERS</h3>
            <!------<div class="row">
            	<div class="col-md-4 col-sm-4 text-center margin-bottom-30">
                	<div class="profile_img"></div>
                    <h4>Noor Muhammad</h4>
                    <p>noor@qualityclix.com</p>
                </div>
                
                <div class="col-md-4 col-sm-4 text-center margin-bottom-30">
                	<div class="profile_img"></div>
                    <h4>Noor Muhammad</h4>
                    <p>noor@qualityclix.com</p>
                </div>
                
                <div class="col-md-4 col-sm-4 text-center margin-bottom-30">
                	<div class="profile_img"></div>
                    <h4>Noor Muhammad</h4>
                    <p>noor@qualityclix.com</p>
                </div>
                
            </div>-->
            <p class="margin-top-30 margin-bottom-20">
            Disappointed by uninspired DIY pictures, we started Phocus.io to enable professional photographers and videographers to unleash their creativity and partner directly with businesses to produce high&#8212; quality website images.</p>
            <p>

A better looking website guarantees better results. But sometimes it's difficult to anticipate what you need. We came up with simple and clean predefined packages you will be proud of&#8212; at a predictable and affordable cost.
            </p>
    	</div>
    </div>
</section>

<!--============================================== building_block end===-->

<section >
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-md-4 col-sm-4 padding-0"><img src="./resources/assets/frontend/images/building.jpg" width="100%"></div>
            <div class="col-md-8 col-sm-8 left_to_center" style="    padding: 85px 50px 0px 50px;">
            	<h3 style="    font-size: 1.17em !important">Predefined Image packages</h3>
                <p class="margin-bottom-30">
                    Predefined image packages make clear what images to expect and make photo shoots simple &#8212; with results and prices that will never surprise you. Phocus.io packages deliver a guaranteed level of quality.
                </p>
                <a href="#" class="default_btn margin-0">Become a phocus.io pro provider</a>
            </div>
        </div>
    </div>
</section>
<!--============================================== become camera Man end===-->

<div ng-include src="'resources/views/frontend/footer.html'"></div>