<header class="custom_header">
	<div class="container">
    	<div class="row">
        	<div class="col-md-3 col-sm-3 left_to_center">
            	<a href="#/" ><img src="./resources/assets/frontend/images/logo.png"></a>
            </div>
            <div class="col-md-9 col-sm-9 right_to_center">
            	<div id="navigation">
                	<span class="toggle"></span>
                    <div class="inner_navigation">
                    	<div class="head">
                       		<a href="javascript:void(0)"><img src="./resources/assets/frontend/images/phocus_logo-47881878d45e7309377ef07bdc1af647.svg"></a>
                        	<span class="closs"><img src="./resources/assets/frontend/images/close.png"></span>
                        </div>
                        <ul>
                                    <li><a href="#/">home</a></li>
                                    <li ><a href="#/about">about us</a></li>
                                    <li ><a href="#/contact">contact</a></li>
                                    <li >
                                        <a href="logout">Logout</a>
                                    </li>
                                </ul>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</header>

<section id="dashboard">
	<div class="container text-center" style="margin-top: 100px;">
    <h1 class="text-uppercase">WELCOME {{user_details.name}}</h1>
    	<div class="profile_img"><img src="./storage/profiles/{{user_details.id}}/{{user_details.picture}}" /></div>	
        <h4 class="bold">{{user_details.name}}</h4>
        <p class="margin-bottom-40">{{user_details.email}}</p>
        <p class="font_17">This is your dashboard. soon you will be able to see all the tasks asigned to you and much more!</p>
        <hr>
        <p class="font_17">Please follow the instructions so we can properly pay you when you perform a task:</p>
        
        <p class="font_17">Please follow the instructions so we can properly pay you when you perform a task:</p>
        
       	<p class="margin-bottom-15">1.- Download the Dependent Verification Form: <a class="link" href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">https://www.irs.gov/pub/irs-pdf/fw9.pdf</a></p>
        
        <p class="margin-bottom-15">2.- Fill it up.</p>
        <p class="margin-bottom-15">3.- Upload your filled form <br>
        <form  ng-show="!user_details.w9_form"  id="w9Form"  action="./w9file_upload" method="POST">
                <input name="user_id" type="hidden" value="{{user_details.id}}" />
                <div class="upload_thumbnail">
                <label>Upload </label>
                <span class="percent_counterPDF" id="percent_counterPDF"></span>
                <input   id="w9File" required="" name="w9form" type="file" />
                </div>
                

        </form>
        
		<p  ng-show="user_details.w9_form"  class="margin-bottom-15">Your form was filled<br>
        <a target="blank" href="./storage/w9_forms/{{user_details.id}}/{{user_details.w9_form}}">HERE</a>
        </p> 
        
        
    </div>
</section>

<!--============================================== contents===-->
<div ng-include src="'resources/views/frontend/footer.html'"></div>

<script type="text/javascript">
    $('#w9Form').on('submit', (function (e) {
		e.preventDefault();
		formData = new FormData(this);
		console.log(formData);
		
		$.ajax({
			
			type: 'POST',
			url: $(this).attr('action'),
			data: formData,
			dataType: "json",
			cache: false,
			contentType: false,
			processData: false,
             xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){
                    myXhr.upload.addEventListener('progress',progress, false);
                }
                return myXhr;
        },
			success: function (data) {
				$("#percent_counterPDF").hide();

				location.reload();
                
			},
			error: function (data) {
				alert("errors: try again");
				console.log(data);
			}
	
		});

	}));

    function progress(e){

    if(e.lengthComputable){
        var max = e.total;
        var current = e.loaded;

        var Percentage = (current * 100)/max;
        $("#percent_counterPDF").html(
            parseInt(Percentage)+ "%");
        console.log(parseInt(Percentage));


        if(Percentage >= 100)
        {
          console.log("complete");

        }
    }  
 }

$("#w9File").on("change", function () {

    var ext = $('#w9File').val().split('.').pop().toLowerCase();
    if($.inArray(ext, ['pdf']) == -1) {
        alert('invalid extension! please upload only PDF file');
        $('#w9File').val('');
        return;
    }
    $("#div_upload").hide();
    $("#wait_msg").show();
    $("#w9Form").submit();
});
</script>
