<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-3 border_right padding-right-25">
                        <a href="#" class="margin-bottom-15"><img src="./resources/assets/frontend/images/phocus_logo-47881878d45e7309377ef07bdc1af647.svg" width="100" /></a>
                        <p style="font-size: 11px; line-height: 20px;">
                            The source for predefined professional photo and video packages, to easily provide you with innovative and quality images
                        </p>
                        <p style="font-size: 11px; line-height: 20px;">
                           Copyright &copy; 2016 Phocus, LLC. All rights reserved
                        </p>
                    </div>
                    <div class="col-md-7 col-md-7 padding-0">
                        <ul class=" padding-top-40 ">
                            <li><a href="#/contact#FAQ">FAQ</a></li>
                            <li><a href="#/about">about us</a></li>
                            <li><a href="#/policy">privacy policy</a></li>
                            <li><a href="#/contact">contact us</a></li>
                            <li><a href="#/how_it_works">how it works</a></li>
                            <li><a href="#/terms">terms and conditions</a></li>

                        </ul>
                    </div>
                    <div class="col-md-2 col-md-2 social_footer padding-top-40">
                        <a target="_blank"  href="https://twitter.com/Phocus_io"><i class="fa fa-twitter"></i></a>
                        <a target="_blank"  href="https://www.linkedin.com/company/phocus-io?trk=top_nav_home"><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" href="https://www.facebook.com/phocus.io/timeline"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </footer>