
<section class="banner how_it_banner">
	<div class="container text-center">
    	<h2 >HOW IT WORKS</h2>
        <h4>Predefined image packages enable photo shoots to get done easily and quickly, while setting clear expectations on deliverables and cost. In most cases this will result in an easy, predictable and successful process for our clients as well as photographer providers.</h4>
    </div>
</section>
<!--============================================== banner end===-->

<div class="white_row">
	<div class="container">
    	<div class="col-md-6 col-sm-6 margin-bottom-25 text-center padding-top-60">
        	<img class="order-setup" src="./resources/assets/frontend/images/phocus_ordersetup-d38b58f9cc526c7a9abf82e2eb8183e6.svg" width="100" alt="Phocus ordersetup" style="margin-top: 140px;">
            <h3>Order & Set-up</h3>
        </div>
        <div class="col-md-6 col-sm-6  _left_border">
        	<p class="margin-bottom-25">Select photo packages:</p>
            <ul class="default_list_1">
                <li>Pick types from drop down choices and select from additional options.</li>
            </ul>
            <p>Confirm Shoot details & Pay:</p>
            <ul class="default_list_1">
                <li>Client will confirm the shoot: Location, date/time, package and other expected deliverables.</li>
                <li>Client will provide payment authorization.</li>
                <li>100% refund for any cancelations that are more than 48 hours in advance of shoot.</li>
            </ul>
            <p>Coordinate with Photographer:</p>
            <ul class="default_list_1">
                <li>Phocus.io issues invitations to photographers in area.</li>
                <li>Phocus.io confirms with Client, the Date, Time and Shoot details. </li>
            </ul>
        </div>
    </div>
</div>

<div class="gray_row">
	<div class="container">
        <div class="col-md-6 col-sm-6 _right_border">
        	<p>Photo Shoot:</p>
            <ul class="default_list_2">
                <li>Photographer will do photographs based on package & selected options.</li>
            </ul>
            
            <p>Review & Select Photos:</p>
            <ul class="default_list_2">
                <li>Low resolution preview copies of photos will be on-line at Phocus.io site.</li>
                <li>Client will select photos for final copies.</li>
            </ul>
            
            <p>Final delivery:</p>
            <ul class="default_list_2">
                <li>Selected photos will be post-processed, and available for download.</li>
            </ul>

        </div>
        <div class="col-md-6 col-sm-6 margin-bottom-25 text-center padding-top-40">
        	<img class="phocus-photoshoot" src="./resources/assets/frontend/images/phocus_photoshoot-5406813b7458a77a946f2050b38dc1a1.svg" width="200" style="margin-top: 90px;" alt="Phocus photoshoot">
            <h3 class="margin-top-20">The Photo Shoot</h3>
        </div>
    </div>
</div>

<div class="white_row">
	<div class="container">
    	<div class="col-md-6 col-sm-6 margin-bottom-25 text-center padding-top-40">
        	<img class="phocus-completion" src="./resources/assets/frontend/images/phocus_completion-09c2592ef53fab2ca6c3ce76b3bf1357.svg" width="159" alt="Phocus completion" style="margin-top:70px;">
            <h3 class="margin-top-20">Completion</h3>
        </div>
        <div class="col-md-6 col-sm-6 _left_border">
        	<p>Feedback & Ratings:</p>
            <ul class="default_list_1">
                <li>Client can provide comments & ratings on Photographer and on completed photos.</li>
                <li>You can tell us if you had a good experience, with good results&#8211; or, if you didn't.</li>
            </ul>
            <p>Approval & Payment:</p>
            <ul class="default_list_1">
            <li>Photographer will be paid after client receives photos, and when client payment is confirmed.</li>
            <li>Satisfaction with results: If client doesn't believe deliverables meet their expectations, Phocus.io will manage a resolution process with the photographer.</li>
            </ul>
        </div>
    </div>
</div>



<!--============================================== CONTENT===-->

<div ng-include src="'./resources/views/frontend/footer.html'"></div>
