
<section class="banner">
	<div class="container text-center">
    	<h2 >HIGH QUALITY WEB IMAGES, MADE EASY</h2>
        <a href="javascript:void(0)" class="providerdialog default_btn" id="photographer_btn">
        are you a photographer?</a>
        <a href="javascript:void(0)"  class="clientdialog default_btn" id="just_client">book a photoshoot?</a>
    </div>
</section>
<!--============================================== banner end===-->


<section id="photographs">
	<div class="container-fluid">
    	<div class="text-center">
    		<h2>Top photographers, the highest quality</h2>
        	<p class="margin-bottom-20">Phocus.io is the best source for quality images for your web site - photo shoots at your location, anywhere in the country</p>
        </div>
        
        <div class="photographs_images">
            <div class="row margin-left-10 margin-right-10">
                <div class="col-md-6 col-sm-6 padding-0">
                    <div class="row margin-0">
                        <div class="col-md-6 col-sm-6 padding-0">
                            <div class="photo_img "><img src="./resources/assets/frontend/images/photographs/photo_1.jpg"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-0">
                            <div class="photo_img"><img src="./resources/assets/frontend/images/photographs/photo_2.jpg"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 padding-0">
                            <div class="photo_img "><img src="./resources/assets/frontend/images/photographs/photo_8.jpg"></div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 padding-0">
                    <div class="row margin-0">
                        <div class="col-md-6 col-sm-6 padding-0">
                        	<div class="row margin-0">
                            	<div class="col-md-12 padding-0">
                                	<div class="photo_img "><img src="./resources/assets/frontend/images/photographs/photo_7.jpg"></div>
                                </div>
                                <div class="col-md-12 padding-0">
                                	<div class="photo_img "><img src="./resources/assets/frontend/images/photographs/photo_6.jpg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-0">
                        	<div class="row margin-0">
                            	<div class="col-md-12 padding-0">
                                	<div class="photo_img "><img src="./resources/assets/frontend/images/photographs/photo_5.jpg"></div>
                            
                                </div>
                                <div class="col-md-12 padding-0">
                                	<div class="photo_img "><img src="./resources/assets/frontend/images/photographs/photo_3.jpg"></div>
                            
                                </div>
                                <div class="col-md-12 padding-0">
                                	<div class="photo_img"><img src="./resources/assets/frontend/images/photographs/photo_4.jpg"></div>
                                </div>
                            </div>	
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================================== gallery end===-->

<section id="blocks">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 padding-0">
                <div class="block_widget provider wow animated bounceInLeft" data-wow-delay="0.2s">
                    <div class="table_cell">
                        <h3>PHOCUS.IO PRO PROVIDER</h3>
                        <p>Bring your experience and innovation to create<br> "difference-making" images for our mutual clients</p>
                        <a href="#/how_it_works" class="default_btn">How it works</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 padding-0">
                <div class="block_widget customer wow animated bounceInRight" data-wow-delay="0.2s">
                    <div class="table_cell">
                        <h3>IMAGES FOR YOUR ONLINE BUSINESS </h3>
                        <p>Images made by experienced pros ensure that your<br> site is noticed and, recognized as high quality</p>
                        <a href="#" class="default_btn">comming soon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================================== blocks end===-->

<section id="building" class="wow animated zoomInUp">
	<div class="container">
    	<h3>Phocus.io makes it easy to get high-quality Images</h3>
        <p>
        	Quality images, composed and shot by experienced professionals, for your website. The easiest and best way to showcase your business.
            </p>
            <p>
<span class="bold">Easy:</span> Predefined packages photographed by screened, highly-ranked local professionals from a nationwide network.
</p>
<p>
You'll know exactly what to expect for all your web-site and other image needs.</p>
<p><span class="bold">Quality Images:</span> Experienced and pre-screened professional photographers know what images your business needs to get noticed.
        </p>
    </div>
</section>
<!--============================================== building_block end===-->

<section class="becomeCampraMan">
	<div class="container">
    	<div class="row">
            <div class="col-md-7 col-sm-7 padding-0">
            	<h3>Created by Professional Photographers</h3>
                <p class="margin-bottom-20">
                    A service created and managed by professional photographers, with experience working with businesses like yours.</p>
                    <p class="margin-bottom-45">

Easy ordering and delivery of high-quality images, always on-time. Clear predefined photo packages set expectations for both costs and results.
                </p>
                
                    <a href="javascript:void(0)" class="providerdialog default_btn margin-0 " id="">Become a phocus.io pro provider</a>
                
                
            </div>
        </div>
    </div>
</section>
<!--============================================== become camera Man end===-->
<div ng-include src="'./resources/views/frontend/footer.html'"></div>
