
<section class="banner terms_banner">
	<div class="container text-center">
    	<h2 class="wow animated zoomIn" data-wow-delay="1.2s">TERMS & CONDITIONS FOR PROVIDERS</h2>
    </div>
</section>
<!--============================================== banner end===-->

<section class="contents">
	<div class="container">
    	<div class="row">
        	<div class="col-md-3 col-sm-3">
            	<ul class="left_tabs">
                	<li id="user_tab" class="active_tab">Terms & Conditions for Users <i class="fa fa-caret-right"></i></li>
                    <li id="provider_tab">Terms & Conditions for Providers <i class="fa fa-caret-right"></i></li>
                </ul>
				<hr />
            </div>
            <div class="col-md-9 col-sm-9">
            	<div class="tabs_data" id="user_tab_data" style="display:block">
                	<h3 class="margin-bottom-25">1. Lorem ipsum dolor sit amet, consectetur</h3>
                    <h4>1.1: Lorem ipsum dolor sit amet</h4>
                    <p>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                     <p>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    
                    <h4 class="margin-top-30">1.2: Lorem ipsum dolor sit amet</h4>
                    <p>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    
                </div>
                <div class="tabs_data" id="provider_tab_data">
                	<h3 class="margin-bottom-25">2. Lorem ipsum dolor sit amet, consectetur</h3>
                    <h4>2.1: Lorem ipsum dolor sit amet</h4>
                    <p>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                     <p>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    
                    <h4 class="margin-top-30">2.2: Lorem ipsum dolor sit amet</h4>
                    <p>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div> 
            
        </div>
    </div>
</section>

<!--============================================== CONTENT===-->
<div ng-include src="'resources/views/frontend/footer.html'"></div>