<div class="row" ng-init="GetProviderByIDs()">
    <div class="col-lg-12">
        <h1 class="page-header">Following Providers will be deleted:</h1>
    </div>
</div>
<ol class="breadcrumb">
    <li class="">Dashboard</li>
    <li><a href="#/providers">Providers</a></li>
    <li> Multiple Delete</li>
</ol>

<ul class="nav nav-tabs">
    <li title="" rel="" class="active icon">
        <a class="" href="#/providers">
            <span class="fa fa-list"></span>
            List
        </a> 
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/provider/new">
            <span class="fa fa-plus"></span>
            Add new
        </a>
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/provider/export"> 
            <span class="fa fa-share-square-o"></span> 
            Export 
        </a> 
    </li>
</ul>


<div>
<ul ng-repeat="provider in providers">
    <li style="display:block; margin-top:10px">
        <span class="label label-default">Provider</span>
        <a class="pjax" href="#/provider/show/{{provider.id}}">{{provider.name}}</a>
        <ul>
        </ul>
    </li>
</ul>
<button class="btn btn-danger" ng-click="DeleteProviderByIds()"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>