<div class="row" ng-init="GetProvider()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Provider '{{provider.name}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/providers">Providers</a></li>
	<li> <a href="#/provider/edit/{{provider.id}}">{{provider.name}}</a></li>
	<li>Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="icon" > <a class="" href="#/provider/show/{{provider.id}}"> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/provider/edit/{{provider.id}}"> <span class="fa fa-pencil"></span> Edit</a></li>
    <li title="" rel="" class="active icon"> <a class="" href="#/provider/export">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<h4>Are you sure you want to delete this provider "{{provider.name}}" ? </h4>
<div>
<button class="btn btn-danger" ng-click="deleteProvider(provider.id)"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>