<div class="row" ng-init="GetProvider()">
    <div class="col-lg-12">
        <h1 class="page-header">Details For Provider '{{provider.id}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="active">Dashboard</li>
	<li class="">Providers</li>
	<li >{{provider.name}}</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon"> <a class="" href=""> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/provider/edit/{{provider.id}}"> <span class="fa fa-pencil"></span>  Edit</a></li>
    <li title="" rel="" class="icon"> <a class="" href="#/provider/delete/{{provider.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<div class="fieldset">
	<h4>Basic Info</h4>
	<dl>
		<dt><span class="label label-info">Name</span></dt>
		<dd class="well" ng-bind="provider.name"></dd>

	</dl>
</div>