<div class="row" ng-init="setupPage()">
    <div class="col-lg-12">
        <h1 class="page-header" ng-bind="mainHeadAddEdit"></h1>
    </div>
</div>
<messages></messages>
  
    <ol class="breadcrumb">
          <li class="false">
            <a class="pjax" href="#/admins">Admins</a>
          </li>
          <li class="active" ng-bind="breadHeadAddEdit"></li>
    </ol>
    
    <ul class="nav nav-tabs">
    	<li title="" rel="" class="icon"> <a class="" href="#/admin"> <span class="fa fa-list"></span> List</a> </li>
        <li title="" rel="" class="active icon"><a class="" href=""> <span class="fa fa-plus"></span>
        <span ng-bind="tabHeadAddEdit"></span></a></li>
        <li ng-show="tabHeadAddEdit!='Edit'" title="" rel="" class="icon"> <a class="" href="#/admin/export">  <span class="fa fa-share-square-o"></span> Export </a> </li>
        <li ng-show="tabHeadAddEdit=='Edit'" title="" rel="" class="icon"> <a class="" href="#/admin/delete/{{admin.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
    </ul>

    <form class="form-horizontal" style="margin-top: 30px;" name="frmAdmin" ng-init="GetAdmin()" novalidate>
      <span style="display:none" class="object-infos" data-model-label="Super admin" data-object-label="Super admin (new)"></span>
      <fieldset>
      <legend style="display:none">
        <i class=""></i> Basic info
      </legend>
      <div class="form-group control-group string_type email_field " id="">
        <label class="col-sm-2 control-label" for="super_admin_email">Email</label>
          <div class="col-sm-10 controls">
            <input value="" class="form-control" required="required" size="50" type="email" name="super_admin[email]" id="super_admin_email" ng-model="admin.email" ng-required="true">
            <span class="help-block">Required. </span>
            <span class="help-block text-red" ng-bind="email_error">Required. </span>
          </div>
      </div>

      <div class="form-group control-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10 controls">
            <input type="text" class="form-control has-error" id="name" name="name" placeholder="" value="" 
            ng-model="admin.name" ng-required="true">
            <span class="help-block">Required. </span>
        </div>
      </div>
      <div class="form-group control-group">
        <label class="col-sm-2 control-label" >Privileges</label>
        <div class=" col-sm-10 controls">
        <select class="form-control" multidrop="admin.role" id="example"  name="role">

        </select>
        <span class="help-block">Required. </span>
        </div>
      </div>
    
      <div class="form-group control-group password_type password_field " id="super_admin_password_field">  <label class="col-sm-2 control-label" for="super_admin_password">Password</label>
        <div class="col-sm-10 controls">
          <input value="" class="form-control" required="required" size="50" type="password" name="super_admin[password]" id="super_admin_password" ng-model="admin.password" ng-required="true">
            <span class="help-block">Required. Length of 8-72.</span>
            <span class="help-block text-red" ng-bind="password_error">Required. </span>
        </div>
      </div>
      <!-- <div class="form-group control-group password_type password_confirmation_field " id="super_admin_password_confirmation_field">
        <label class="col-sm-2 control-label" for="super_admin_password_confirmation">Password confirmation</label>
        <div class="col-sm-10 controls"><input value="" class="form-control" required="required" size="50" type="password" name="super_admin[password_confirmation]" id="super_admin_password_confirmation">
          <span class="help-block">Required. </span>
        </div>
      </div> -->
      <input type="hidden" ng-model="admin.id" />
    </fieldset>
        
      <div class="form-group form-actions">
          <div class="col-sm-offset-2 col-sm-10">
            <input name="return_to" type="hidden" value="https://phocus.io/admin/super_admin">
            
            <button class="btn btn-primary" ng-click="AddNew('save')" ng-disabled="frmAdmin.$invalid" data-disable-with="Save" name="_save" type="submit">
              <i class="icon-white icon-ok"></i>
                Save
            </button>
            
            <span class="extra_buttons">
                <button class="btn btn-info" data-disable-with="Save and add another" name="_add_another" ng-click="AddNew('add')" type="submit" >
                    Save and add another
                </button>
                
                <button class="btn btn-info" ng-click="AddNew('edit')" data-disable-with="Save and edit" name="_add_edit" type="submit">
                    Save and edit
                </button>
                
                <button class="btn" ng-click="CancelSave()" data-disable-with="Cancel" formnovalidate name="_continue" type="submit">
                    <i class="fa fa-remove"></i> Cancel
                </button>
            </span>
            
          </div>
      </div>
    </form>
</div>
