<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">List Of Admins</h1>
    </div>
</div>
<messages></messages>
<ol class="breadcrumb"><li class="active">Admins</li></ol>


<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon">
        <a class="" href="#/admin">
            <span class="fa fa-list"></span>
            List
        </a> 
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/admin/new">
            <span class="fa fa-plus"></span>
            Add new
        </a>
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/admin/export"> 
            <span class="fa fa-share-square-o"></span> 
            Export 
        </a> 
    </li>
    <li class="dropdown dropdownblue" style="float:right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Selected items
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" style="left:auto; right:0;">
            <li>
                <a ng-click="exportSelected()" style="cursor: pointer;">Export selected Admins</a>
            </li>
            <li>
                <a style="cursor: pointer;" ng-click="GetSelectedToDelete()">Delete selected Admins
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown dropdownblue" style="float:right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">
            Add filter
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="filters" style="left:auto; right:0;">
            <li>
                <a style=" cursor: pointer;" ng-click="AddFilter('Email')">Email</a>
            </li>
            <li>
                <a style=" cursor: pointer;" ng-click="AddFilter('role')">Privileges</a>
            </li>
        </ul>
    </li>
</ul>

<div style="margin-top:2%;">
    <form class="pjax-form form-inline" novalidate  accept-charset="UTF-8">
        <div class="well">
        <div ng-repeat="filter in filters">
            <span id="filters_box" name="{{'filter'+$index}}">
                <p class="filter form-search">
                    <span class="label label-info form-label btn-filter">
                        <a style="cursor: pointer;" ng-click="RemoveFilters($index)" class="delete">
                            <i class="fa fa-trash" style="color: white;"></i>
                        </a> 
                        {{(filter.filter=='role')?'Privileges':filter.filter}}
                    </span>
                    <select class="switch-additionnal-fieldsets input-sm form-control" ng-model="filter.operator">
                        <option value="like">Contains</option>
                        <option value="is">Is exactly</option>
                        <option value="starts_with">Starts with</option>
                        <option value="ends_with">Ends with</option>
                        <option disabled="disabled">---------</option>
                        <option value="_not_null">Is present</option>
                        <option value="_null">Is blank</option>
                    </select>
                    <input ng-hide="filter.operator=='_not_null' || filter.operator=='_null'" class="additional-fieldset input-sm form-control" style="display:inline-block;" type="text" ng-model="filter.query">
                </p>
            </span>
        </div>
            <hr class="filters_box" style="display:none">
            <div class="input-group">
                <input class="form-control input-small" name="query" placeholder="Filter" type="search" ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="SearchAdmin(-1)" >
                        <i class="fa fa-refresh" ></i>
                            Refresh
                    </button>
                    <button class="btn btn-info" ng-click="RemoveFilters()" id="remove_filter" title="Reset filters">
                        <i class="fa fa-remove" ></i>
                    </button>
                </span>
            </div>
            <span style="float:right">
                <a class="btn btn-info" href="javascript:void(0)" ng-click="exportFound()">Export found Admins</a>
            </span>
        </div>
    </form>
</div>

<div>
	
	<table class="table table-condensed table-striped table-list" ng-init="SearchAdmin()">
        <thead>
            <tr>
                <th class="shrink">
                    <input type="checkbox" id="selectedAll" ng-model="selectedAll" ng-click="selectAllAdmins()" />
                </th>
                
                <th class="header" data-href="" rel="tooltip" title="">
                    <a style="cursor: pointer;" ng-click="SearchAdmin(1,'email',reverseSort=!reverseSort)">
                        Email 
                        <span ng-show="orderBy == 'email'">
                            <span ng-show="!reverseSort">v</span>
                            <span ng-show="reverseSort">^</span>
                        </span>
                    </a>
                </th>
                <th class="header" data-href="" rel="tooltip" title="" data-original-title="">
                    <a style="cursor: pointer;" ng-click="SearchAdmin(1,'role',reverseSort=!reverseSort)">
                        Privileges 
                        <span ng-show="orderBy == 'role'">
                            <span ng-show="!reverseSort">v</span>
                            <span ng-show="reverseSort">^</span>
                        </span>
                    </a>
                </th>
                <th class="last shrink"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="admin in admins">
                <td>
                    <input type="checkbox" name="" id="" value="admin.id" ng-model="admin.Selected">
                </td>
                <td ng-bind="admin.email"></td>
                <td ng-bind="admin.role"></td>
                <td class="last links">
                <ul class="inline list-inline">
                  <li title="Show" rel="tooltip" class="icon show_member_link ">
                    <a class="pjax" href="#/admin/show/{{admin.id}}">
                      <i class="fa fa-info-circle"></i>
                      <span style="display:none">Show</span>
                    </a>
                  </li>
                
                  <li title="Edit" rel="tooltip" class="icon edit_member_link ">
                    <a class="pjax" href="#/admin/edit/{{admin.id}}">
                      <i class="fa fa-pencil"></i>
                      <span style="display:none">Edit</span>
                    </a>
                  </li>
                
                  <li title="Delete" rel="tooltip" class="icon delete_member_link ">
                    <a class="pjax" href="#/admin/delete/{{admin.id}}">
                      <i class="fa fa-remove"></i>
                      <span style="display:none">Delete</span>
                    </a>
                  </li>
                </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div >
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 1}">
                <a style="cursor: pointer;" ng-click="SearchAdmin(currentPage-1)">« Prev</a>
            </li>
            <li ng-repeat="n in range"
                ng-class="{active: n == currentPage-1}"
            ng-click="SearchAdmin(n+1)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == limit}">
                <a style="cursor: pointer;"  ng-click="SearchAdmin(currentPage+1)">Next »</a>
            </li>
        </ul>
    </div>
    <div class="clearfix total-count">
    {{total}} Admins
    </div>
</div>