<div class="row" ng-init="GetAdmin()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Admin '{{admin.name}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/admin">Admins</a></li>
	<li> <a href="#/admin/edit/{{admin.id}}">{{admin.name}}</a></li>
	<li>Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="icon" > <a class="" href="#/admin/show/{{admin.id}}"> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/admin/edit/{{admin.id}}"> <span class="fa fa-pencil"></span> Edit</a></li>
    <li title="" rel="" class="active icon"> <a class="" href="#/admin/export">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<h4>Are you sure you want to delete this admin "{{admin.name}}" ? </h4>
<div>
<button class="btn btn-danger" ng-click="deleteAdmin(admin.id)"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>