<li><a href="javascript:void(0)">ADMINISTRATORS</a></li>
<ul  class="left_subNav">
    <li ng-class="{'selected_item': active_item == 'administrators'}"><a href="#/admin">Admins</a></li>
    <li ng-class="{'selected_item': active_item == 'super_admins'}"><a href="#/superadmin">Super Admins</a></li>
</ul>


<li><a href="javascript:void(0)">CONTACT REQUESTS</a></li>
<ul class="left_subNav">
    <li ng-class="{'selected_item': active_item == 'contact_request'}"><a href="#/contact_request">Contact Requests</a></li>
</ul>


<li><a href="javascript:void(0)">LEADS</a></li>
<ul class="left_subNav">
    <li ng-class="{'selected_item': active_item == 'leads'}"><a href="#/leads">Leads</a></li>
</ul>

<li><a href="javascript:void(0)">PROVIDERS</a></li>
<ul class="left_subNav">
    <li ng-class="{'selected_item': active_item == 'providers'}"><a href="#/providers">Providers</a></li>
</ul>

<li><a href="javascript:void(0)">TAGS</a></li>
<ul class="left_subNav">
    <li ng-class="{'selected_item': active_item == 'tag_gear'}"><a href="#/tag_gear">Tag gears</a></li>
    <li ng-class="{'selected_item': active_item == 'tag_images'}"> <a href="#/tag_image">Tag images</a></li>
</ul>

<li><a href="javascript:void(0)">PAPERTRAIL</a></li>
<ul class="left_subNav">
    <li ng-class="{'selected_item': active_item == 'versions'}"><a href="#/paper_trail~version">Versions</a></li>
    <li ng-class="{'selected_item': active_item == 'version_associations'}"> <a  href="#/paper_trail~version_association">Version associations</a></li>
</ul>