<div class="row" ng-init="GetSuperAdmin()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Super Admin '{{superadmin.name}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/superadmin">Super Admins</a></li>
	<li> <a href="#/superadmin/edit/{{superadmin.id}}">{{superadmin.name}}</a></li>
	<li>Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="icon" > <a class="" href="#/superadmin/show/{{superadmin.id}}"> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/superadmin/edit/{{superadmin.id}}"> <span class="fa fa-pencil"></span> Edit</a></li>
    <li title="" rel="" class="active icon"> <a class="" href="#/superadmin/export">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<h4>Are you sure you want to delete this super admin "{{superadmin.name}}" ? </h4>
<div>
<button class="btn btn-danger" ng-click="deleteSuperAdmin(superadmin.id)"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>