<div class="row" ng-init="GetRequest()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Contact Request 'Contact Request#{{request.id}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
  <li class="">Dashboard</li>
  <li><a href="#/contact_request">Contact Requests</a></li>
  <li> <a href="#/contact_request/edit/{{request.id}}">{{request.id}}</a></li>
  <li>Delete</li>
</ol>

<ul class="nav nav-tabs">
  <li title="" rel="icon" > <a class="" href="#/contact_request/show/{{request.id}}"> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/contact_request/edit/{{request.id}}"> <span class="fa fa-pencil"></span> Edit</a></li>
    <li title="" rel="" class="active icon"> <a class="" href="#/contact_request/export">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<h4>Are you sure you want to delete this contact request "Contact Request#{{request.id}}" ? </h4>
<div>
<button class="btn btn-danger" ng-click="deleteRequest(request.id)"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>