<div class="row" ng-init="GetRequest()">
    <div class="col-lg-12">
        <h1 class="page-header">Details for Contact Request 'ContactRequest#{{request.id}}'</h1>
    </div>
</div>
<ol class="breadcrumb">
    <li class="active"><a href="#/dashboard">Dashboard </a></li>
    <li class=""><a href="#/contact_request">Contact Request</a></li>
    <li class="">ContactRequest#{{request.id}}</li>
</ol>

<ul class="nav nav-tabs">
    <li title="" rel="" class="active icon"> <a class="" href=""> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/contact_request/edit/{{request.id}}"> <span class="fa fa-pencil"></span>  Edit</a></li>
    <li title="" rel="" class="icon"> <a class="" href="#/contact_request/delete/{{request.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<div class="fieldset">
    <h4>Basic Info</h4>
    <dl>
        <dt><span class="label label-info">Full Name</span></dt>
        <dd class="well" ng-bind="request.full_name"></dd>
        <dt><span class="label label-info">Phone Number</span></dt>
        <dd class="well" ng-bind="request.phone"></dd>
        <dt><span class="label label-info">Location</span></dt>
        <dd class="well" ng-bind="request.location"></dd>
        <dt><span class="label label-info">Zipcode</span></dt>
        <dd class="well" ng-bind="request.zip_code"></dd>
        <dt><span class="label label-info">Subject</span></dt>
        <dd class="well" ng-bind="request.subject"></dd>
        <dt><span class="label label-info">Is Provider</span></dt>
        <dd class="well" ng-bind="request.is_provider"></dd>
        <dt><span class="label label-info">Message</span></dt>
        <dd class="well" ng-bind="request.message"></dd>
        <dt><span class="label label-info">Email</span></dt>
        <dd class="well" ng-bind="request.email"></dd>
    </dl>
</div>