<div class="row" ng-init="GetRequestByIDs()">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Contact requests</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="">Dashboard</li>
	<li><a href="#/contact_request">Contact Requests</a></li>
	<li> Multiple Delete</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon">
        <a class="" href="#/contact_request">
            <span class="fa fa-list"></span>
            List
        </a> 
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/contact_request/new">
            <span class="fa fa-plus"></span>
            Add new
        </a>
    </li>
    <li title="" rel="" class="icon">
        <a class="" href="#/contact_request/export"> 
            <span class="fa fa-share-square-o"></span> 
            Export 
        </a> 
    </li>
</ul>


<div>
<ul ng-repeat="request in requests">
    <li style="display:block; margin-top:10px">
        <span class="label label-default">Contact Request</span>
        <a class="pjax" href="#/contact_request/show/{{request.id}}">ContactRequest{{request.id}}</a>
        <ul>
        </ul>
    </li>
</ul>
<button class="btn btn-danger" ng-click="DeleteRequestByIds()"><i class="fa fa-check"></i>Yes, I'm Sure</button>
<button class="btn"><i class="fa fa-remove"></i>Cancel</button>
</div>