.toggle_list{
	margin:0px;
	padding:0px;
	margin-top:20px;
}
.toggle_list li{
	display:block; 
	position:relative; 
}
.toggle_list li a{
	display:block;
	background:url(../images/down_arrow.png); 
	background-position:left center; 
	background-repeat:no-repeat;
    padding: 4px 5px 4px 28px;
	cursor:pointer;
	color:#333;
	font-size:21px;
	border-bottom:1px solid #EBEBEB;
}
.toggle_list li a.activeTab{
	background:url(../images/right_arrow.png) !important; 
	background-position:left center !important; 
	background-repeat:no-repeat !important;
}
.toggle_list li .toggle_data{padding:20px 5px 0px 25px;}
.toggle_list li a:hover, .toggle_list li a:focus{
	text-decoration:none;	
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
.text-red{ color:#F00; }
.retain_row{
    display: block;
    margin: 5px 0;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	
}
.retain_row:hover{background:#FFF}
.retain_row a{
	color: #428bca;
    text-decoration: none;
	font-weight:bold;
	font-size:12px;
}
.drag{
    cursor: pointer;
	color:#FFF;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-radius: 3px 0px 0px 3px;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    margin: -1px 5px -1px -1px;;
}
.drag:hover {
    background: #ddd;
}
.auctions{
    float: right;
    padding: 4px 8px 2px 10px;
}
.auctions a{
	padding:0px 2px;	
}
#table-container{
	padding-top:20px;
}
.liveupdate{ font-weight:normal;}


.ra-multiselect .ra-multiselect-column {
    float: left;
}

.ra-multiselect .ra-multiselect-header {
    margin-bottom: 5px;
    clear: right;
}

.ui-helper-clearfix {
    display: block;
}

.ra-multiselect .ra-multiselect-search {
    width: 180px;
}

input[type="search"] {
    -webkit-appearance: none;
}

.ra-multiselect .ra-multiselect-column .wrapper {
    overflow-x: auto;
}

.ra-multiselect .ra-multiselect-column .wrapper select {
    height: auto;
    min-height: 120px;
    margin-bottom: 5px;
    min-width: 200px;
}

.ra-multiselect .ra-multiselect-center {
    width: 30px;
    padding-top: 15px;
    text-align: center;
}

.ra-multiselect .ui-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.ra-multiselect .ra-multiselect-center .ui-icon {
    margin: 5px auto;
}

.ra-multiselect .ui-icon.ui-icon-circle-triangle-e {
    background-position: -16px -32px !important;
	width:16px;
	height:16px;
    background-image: url(../images/icon_sprite-d5cda34f07c71c405e16e60a667e437e.png);
}

.ra-multiselect .ui-icon.ui-icon-circle-triangle-e:hover {
    background-position: -16px -48px !important;
    background-image: url(../images/icon_sprite-d5cda34f07c71c405e16e60a667e437e.png);
}

.ra-multiselect .ui-icon.ui-icon-circle-triangle-w {
	width:16px;
	height:16px;
    background-position: 0px -32px !important;
    background-image: url(../images/icon_sprite-d5cda34f07c71c405e16e60a667e437e.png);
}
.ra-multiselect .ui-icon.ui-icon-circle-triangle-w:hover {
	width:16px;
	height:16px;
    background-position: 0px -48px !important;
    background-image: url(../images/icon_sprite-d5cda34f07c71c405e16e60a667e437e.png);
}
.nav-tabs>li>a{
	color: #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #000;
}

li.dropdownblue>a{ color: #337ab7; }
table.table-list>thead>tr>th>a{
	color:#333333;
	font-size:14px;
}
.btn-filter{
	padding: 8px 7px;
    margin-right: 5px;
}