<div ng-init="GetAssociation()">
<span style="display:none" class="object-infos" data-model-label="Super admin" data-object-label="Super admin (new)"></span>
      <fieldset>
    <legend style="display:none"><i class="icon-chevron-down"></i> Basic info</legend>
    <div  class="form-group control-group" >
        <label class="col-sm-2 control-label" >Version</label>
        <div class=" col-sm-10 controls">
        <div class="input-group filtering-select col-sm-2" style="float:left">
        <select class="form-control" ng-model="association.version_id" ng-options="version.id as ('PaperTrail::Version #'+version.id) for version in versions">
            <!-- <option></option>
            <option ng-repeat="version in versions" value="{{version.id}}">PaperTrail:Version#{{version.id}}</option> -->
        </select>
        </div>
        <button style="margin-left: 1%;" ng-show="showAddVersion"  class="btn btn-info create" ng-click="openVersion()">
            <i class="fa fa-plus"></i>
            Add a new Version</button>
            <button ng-show="showAddVersion"  class="btn btn-info create" ng-disabled="association.version_id ===undefined" ng-click="openVersion()">
            <i class="fa fa-pencil"></i>
            Edit this Version</button>
        
            
            
             <!-- <input class="form-control" size="50" type="text" ng-model="association.version_id"> -->
             <span class="help-block" style="margin-left: 18%;">Optional. </span>
        </div>
        
            
        
    </div>
      </div>
        <script type="text/ng-template" id="modalNewVersion">
                <div class="modal-header">
                    <h3 class="modal-title">Add New Version</h3>
                </div>
                <div class="modal-body" >
                    <div ng-include src="'./resources/views/Version/_details.html?1'" >
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="AddNewVersion()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
    <div class="form-group control-group string_type foreign_key_name_field " >
        <label class="col-sm-2 control-label" for="">Foreign key name</label>
        <div class="col-sm-10 controls">
            <input class="form-control" size="50" type="text" ng-model="association.foreign_key_name">
            <span class="help-block">Optional. </span>
        </div>
    </div>
    <div class="form-group control-group integer_type foreign_key_id_field ">
        <label class="col-sm-2 control-label" for="">Foreign key</label>
        <div class="col-sm-10 controls">
            <input class="form-control" type="number" ng-model="association.foreign_key_id">
            <span class="help-block">Optional. </span>
        </div>
    </div>
</fieldset>
    <div class="form-group form-actions">
      <div class="col-sm-offset-2 col-sm-10">
        <input  type="hidden" ng-model="association.id">
        </div>
        </div>
</div>