<div class="row" ng-init="setupPage()">
    <div class="col-lg-12">
        <h1 class="page-header" ng-bind="mainHeadAddEdit"></h1>
    </div>
</div>
<messages></messages>
    <ol class="breadcrumb">
          <li class="false">
            <a class="pjax" href="#/paper_trail~version_association">Version Associations</a>
          </li>
          <li class="active" ng-bind="breadHeadAddEdit"></li>
    </ol>
    
    <ul class="nav nav-tabs">
    	<li title="" rel="" class="icon"> <a class="" href="#/paper_trail~version_association"> <span class="fa fa-list"></span> List</a> </li>
        <li title="" rel="" class="active icon"><a class="" href=""> <span class="fa fa-plus"></span>
        <span ng-bind="tabHeadAddEdit"></span></a></li>
        <li ng-show="tabHeadAddEdit!='Edit'" title="" rel="" class="icon"> <a class="" href="#/paper_trail~version_association/export">  <span class="fa fa-share-square-o"></span> Export </a> </li>
        <li ng-show="tabHeadAddEdit=='Edit'" title="" rel="" class="icon"> <a class="" href="#/paper_trail~version_association/delete/{{association.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
    </ul>

    <form class="form-horizontal" style="margin-top: 30px;" name="frmAdmin"  novalidate="">
      <div ng-include src="'./resources/views/VersionAssociation/_details.html?8'"></div>
        <button class="btn btn-primary" ng-click="AddNewAssociation('save')" ng-disabled="frmAdmin.$invalid" data-disable-with="Save" name="_save" type="submit">
          <i class="icon-white icon-ok"></i>
            Save
        </button>
    <span class="extra_buttons">
    <button class="btn btn-info" ng-click="AddNewAssociation('add')" data-disable-with="Save and add another" name="_add_another" type="submit">
    Save and add another
    </button>
    <button class="btn btn-info" ng-click="AddNewAssociation('edit')" data-disable-with="Save and edit" name="_add_edit" type="submit">
    Save and edit
    </button>
    <button class="btn" data-disable-with="Cancel" ng-click="CancelSave()" formnovalidate name="_continue" type="submit">
    <i class="icon-remove"></i>
    Cancel
    </button>
    </span>
    </div>
    </div>
    
    </form>
</div>
