<div class="row" ng-init="GetAssociation()">
    <div class="col-lg-12">
        <h1 class="page-header">Version association Details</h1>
    </div>
</div>
<ol class="breadcrumb">
	<li class="active">Dashboard</li>
	<li class="">Version association</li>
</ol>

<ul class="nav nav-tabs">
	<li title="" rel="" class="active icon"> <a class="" href=""> <span class="fa fa-info-circle"></span> Show</a> </li>
    <li title="" rel="" class="icon"><a class="" href="#/paper_trail~version_association/edit/{{association.id}}"> <span class="fa fa-pencil"></span>  Edit</a></li>
    <li title="" rel="" class="icon"> <a class="" href="#/paper_trail~version_association/delete/{{association.id}}">  <span class="fa fa-remove"></span> Delete </a> </li>
</ul>

<div class="fieldset">
	<h4>Basic Info</h4>
	<dl>
		<dt><span class="label label-info">Version</span></dt>
		<dd class="well" >
			<a ng-show="association.version_id" href="#/paper_trail~version/show/{{association.version_id}}">
				PaperTrail::Version #{{association.version_id}}
			</a>
		</dd>
		<dt><span class="label label-info">Foreign key name</span></dt>
		<dd class="well" ng-bind="association.foreign_key_name"></dd>
		<dt><span class="label label-info">Foreign key</span></dt>
		<dd class="well" ng-bind="association.foreign_key_id"></dd>
	</dl>
</div>